<h3>受信ファイル確認</h3>

<table>
  <thead>
    <tr>
	  <th>ファイル</th>
	  <th>受信日時</th>
	</tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
	<tr>
	  <td><%= link_to document.name, rails_blob_path(document.file) %></td>
	  <td><%= document.created_at.strftime('%Y/%m/%d %H:%M')%></td>
	</tr>
	<% end %>
  </tbody>
</table>

<%= link_to staff_root_path do %>
  <p><i class="fas fa-backward"></i> Back</p>
<% end %>