<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-6">
      <div class="center work-lists"><br><hr>
        <h2>COSS_appへようこそ <i class="fas fa-exclamation"></i></h2><hr>
          <p>ログイン用ユーザー(田中 太郎)</p>
            <p>アドレス：sample@mail.com</p>
            <p>パスワード：sample123</p><hr>
          <div>
  	        <i class="fas fa-user"></i> <%= link_to "管理者専用画面はこちら", new_admin_session_path, {class: "work-list"}%>
          </div><br>
          <div>
  	        <i class="fas fa-users"></i> <%= link_to "社員専用画面はこちら", new_staff_session_path, {class: "work-list"} %>
          </div><br>
          <div>
            <i class="far fa-address-card"></i> <%= link_to "企業ホームページはこちら", home_path, {class: "work-list"}%>
          </div><br>
            <P class="font-sm">
              各画面の企業ロゴをクリック頂ければこの画面に戻れます。<br>
              毎時0分にサンプルデータにリセットされるので、<br>
              データの追加、編集、削除もどうぞお試しください。<br>
              追加、編集をされる場合個人情報の取り扱いにご注意ください。
            </P>
       </div>
    </div>

  </div>
</div>