<div class="center">
  <h3>COSS_appへようこそ！</h3><br>
  <p><%= link_to "一般HPはこちら", home_top_path %></p>
  <p><%= link_to "管理者画面はこちら", new_admin_session_path %></p>
  <p><%= link_to "社員画面はこちら", new_staff_session_path %></p><br>
  <p>ログイン用ユーザー</p>
  <p>アドレス：sample@gmail.com</p>
  <p>パスワード：sample123</p><br>
  <P>各画面の企業ロゴをクリック頂ければこの画面に戻れます。</P>
</div>
