	<div class="video">
	  <%= video_tag("/videos/home.mp4", autoplay: :true, muted: :true, loop: true, class: 'video-content') %>
	</div><br><br>



<%= link_to "アバウト",blogs_path %>
<%= link_to "採用応募",new_contact_path %>