<%= render '/header' %>

<div class="top">
  <div class="video">
    <%= video_tag("/videos/movie.mp4", autoplay: :true, muted: :true, class: 'video-content') %>
  </div>
  <div class="center top-text">
    <h3>“希望を配る人”を輩出する</h3><br>
    <h4>
      リーダーとは“希望を配る人”<br><br>
      それは素晴らしい熱量を共有する<br><br>
      謙虚だが自信に溢れ、妥協がない<br><br>
      常に最善をつくす、そして結果をだす<br><br>
      何事にも感謝をする<br><br>
      苦難に負けず乗り越えていける<br><br>
      人情に熱く思いやりがある<br><br>
      様々な“希望を配る人”を輩出し、<br><br>
      世の中に貢献できる人、会社でありたい。
    </h4>
  </div>
</div>

<div class="footer">
  <div class="footer-left2">
    <a class="twitter" href="#"><i class="fab fa-twitter"></i><span> twitter.</span></a>
    <a class="youtube" href="#"><i class="fab fa-youtube"></i><span> youtube.</span></a>
    <a class="insta" href="#"><i class="fab fa-instagram"></i><span> instagram.</span></a>
  </div>
</footer>