<h3>応募フォーム</h3>

<%= form_with model:@contact do |f| %>

  <div>お名前</div>
  <div><%= f.text_field :name %></div>
  <div>内容</div>
  <div><%= f.text_area :body %></div>
  <div><%= f.submit "送信"%></div>
  <div>採用応募の方は上記内容欄に<br>
  	①メールアドレス<br>②連絡先電話番号<br>③正社員希望またはアルバイト希望での応募<br>
  	以上３点を入力の上ご送信下さい。こちらから折り返し連絡させて頂きます。<br><br>
  	その他お問い合わせの方は折り返し希望のメールアドレス、または電話番号を入力の上ご送信ください。
<% end %>