<footer>
  <div class="footer-left">
    <a class="twitter" href="#"><i class="fab fa-twitter"></i><span> twitter.</span></a>
    <a class="youtube" href="#"><i class="fab fa-youtube"></i><span> youtube.</span></a>
    <a class="insta" href="#"><i class="fab fa-instagram"></i><span> instagram.</span></a>
  </div>
  <div class="footer-right">
    <p>株式会社Lifes.</p>
    <p>大阪府大阪市北区天満2-8-17天満橋パークビル4階</p>
    <p>TEL：06-7182-2493</p>
  </div>
</footer>