<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class='row'>
      <div class='col-xs-offset-5'>
        <nav class='nav navbar-nav navbar-center' >
        <%= link_to root_path do %>
          <img alt="ロゴ画像" src="/logo.png" style="height: 40px; margin-top:10px">
        <% end %>
        </nav>
      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path,class: "Editlink" %></li>
          <li><%= link_to "About", blogs_path,class: "Editlink" %></li>
          <li><%= link_to "採用", new_contact_path,class: "Editlink" %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>